<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../common/header.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('../common/navigation.ejs')%>
    <%= prods.title%>    
    <%=prods.imgUrl%>
    <%= prods.price%>
    <%= prods.description%>
</body>
</html>